html{
  overflow: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body{
  margin:0px;
  padding:0px;
  border:none;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
}

body.splash{
  background: #333;
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
}

#container{
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.copy{
  min-width: 300px;
  max-width: 350px;
  margin: 0 auto;
}

.copy h1{
  color: #fff;
  line-height: 80px;
  font-size: 45px;
  text-shadow: 0px 0px 1px rgba(255,255,255,0.8);
}

