#container{
  margin: 0 auto;
  min-width: 300px;
  max-width: 1024px;
  padding-top: 41px;
}

.tumblrControl .control{
  margin: 0 auto;
  max-width: 100%;
  min-width: 300px;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.tumblrControl .left{
  margin-right: 72px;
}

.tumblrControl .btn{
  position: absolute;
  right: 20px;
  top: -1px;
}

.tumblrControl input{
  margin-top: 1em;
}
